<div class="col-sm-12 col-md-12 search-block container">
  <%= render "products/search" %>
</div>
<div id="list-products">
  <%= render @products %>
  <div class="col-sm-12 col-md-12 center"><%= will_paginate @products %></div>
</div>
