<div class="away-header">
  <div class="container">
    <div class="row">
      <% @orders.each do |order| %>
        <%= render "listing", order: order %>
      <% end %>
    </div>
    <div class="center"><%= will_paginate %></div>
  </div>
</div>
