<p>===============================================</p>
<h1>Ecommerce 31</h1>
<p>===============================================</p>
<p>Hi <%= link_to @user.name, user_url(@user) %>,</p>
<p>Thank you for your recent order at Ecommerce 31</p>

<p>You can see your order <%= link_to "here", order_url(@order) %></p>

<p>We have shipped your order to your address.
  The package is going to arrived at your home
  2 or 3 days from now.</p>

<p>If you have any question, feel free to contact us.</p>

<p>Best regards,</p>

<p>Ecommerce 31</p>
