<select>
  <option value="">All Categories</option>
  <% @categories.each do |category| %>
    <% if category.parent_id.blank? %>
      <option value="<%=category.id%>"><%= category.name %></option>
      <% if category.subcategories.present? %>
        <%= render partial: "/categories/subselect-menu",
          locals: {subcategories: category.subcategories} %>
      <% end %>
    <% end %>
  <% end %>
</select>
