<div class="col-xs-6 col-sm-6 col-md-4 text-center">
  <div class="product-view">
    <div class="image-product hover">
      <figure>
          <%= link_to image_tag(product.image, alt: t("img_alt.product"),
            class: "img-rounded"), product %>
      </figure>
    </div>
    <div class="product-info">
      <h5><%= link_to product.name, product %></h5>
      <div class="product-price">
        <span>
          <b><%= number_to_currency product.price,
            unit: t("product.unit"), format: "%n %u", precision: 0 %>
          </b>
        </span>
      </div>
      <div class="product-detail">
        <span><%= product.description %></span>
      </div>
    </div>
  </div>
</div>
