<% provide(:title, "All product") %>
<%= form_tag products_path, :method => "get" do %>
      <p>
      <%= text_field_tag :search %>
      <%= submit_tag "search" %>
       </p>
<% end %>
<%= render "shared/products" %>

