<% provide :title, t("title.all_products") %>
<%= render "products/trend" %>
<div class="col-sm-12 col-md-12 search-block container">
  <%= render "products/search" %>
</div>
<div>
  <%= render @products %>
  <div class="center"><%= will_paginate @products %></div>
</div>
