<footer class="footer container">
  <small>
   <%= t "develop_title" %>
   <%= link_to t("developer"), "https://www.facebook.com/sanhpv96"%>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_pages.home"), home_path %></li>
      <li><%= link_to t("static_pages.about"), about_path %></li>
    </ul>
  </nav>
</footer>
